{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            Employee details to display
        </title>
        <link rel="stylesheet" href="{% static 'styl.css' %}">
        <style>
            table 
            {
                font-family: arial, sans-serif;
                border-collapse: collapse;
                width: 100%;
            }

            td, th {
                border: 1px solid #dddddd;
                text-align: left;
                padding: 8px;
            }

  tr:nth-child(even) {
                background-color: #dddddd;
            }
        </style>
            
       
    </head>
    <body class="bd">
        <h1 class="h1">
            Display Employee Details
        </h1>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email id</th>
                    <th>Password</th>
                    <th>Address</th>
                    <th>Gender</th>
                    <th>Phone Number</th>
                    <th>Image</th>
                    <th>Action</th>
                  </tr>
            </thead>
            <tbody>
                {% for d in data %}
                <tr>
                    <td>{{d.emp_Name}}</td>
                    <td>{{d.emp_Email}}</td>
                    <td>{{d.emp_Password}}</td>
                    <td>{{d.emp_Address}}</td>
                    <td>{{d.emp_Gender}}</td>
                    <td>{{d.emp_PNumber}}</td>
                    <td>{% if d.emp_Image %}<img src="{{d.emp_Image.url}}" style="height:50px;width:50px;">{% else %}None{% endif %} </td>
                    <td>
                        <a href="{% url 'deleteemp' objid=d.id %}"><button type="submit">Delete</button></a>
                        <a href="{% url 'updateemp' objid=d.id %}"><button type="submit">Update</button></a>
                       
                    </td>

                </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>